@use "scss-variables";
@use "mixins";

html {
  --base-font-size: 20px;
  --primary-text-color: #000;
  --light-text-color: #3f3f3f;
  --spacer-color: var(--light-text-color);
  --x-light-text-color: #4f4f4f;
  --border-color: #d8d8d8;
  --primary-background-color: #fff;
  --secondary-background-color: #f2f5fa;
}

@include mixins.going-large(scss-variables.$breakpoint-x-small) {
  html {
    --base-font-size: 20px;
  }
}

@include mixins.going-large(scss-variables.$breakpoint-small) {
  html {
    --base-font-size: 16px;
  }
}
