@use "../scss-variables";
@use "../mixins";

.title {
  grid-area: title;
  text-align: center;

  &__credentials {
    flex-grow: 1;
  }

  &__name {
    font-family: 'Outfit', 'Open Sans', 'Arial', sans-serif;
    margin: 0 0 18px;
    font-size: 3.25rem;
    line-height: 3.5rem;
    font-weight: scss-variables.$font-weight-bold;
    letter-spacing: scss-variables.$letter-spacing;
  }

  &__position {
    font-family: 'Outfit', 'Open Sans', 'Arial', sans-serif;
    margin: 0 0 18px;
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: scss-variables.$font-weight-light;
    color: var(--light-text-color);
  }

  &__image {
    width: 100px;
    height: 100px;
    //border-radius: 0%;
    object-fit: cover;
    object-position: 45%;
  }
}

@include mixins.going-large(scss-variables.$breakpoint-x-small) {
  .title {
    display: flex;
    text-align: left;

    &__position {
      margin: 0;
    }

    &__image {
      width: 150px;
      height: 150px;
    }
  }
}
